*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}
.sub-body{
    border: 40px solid #c7f5b5;
    /* height: 400vh; */
}
.header{
    margin-top: 0%;
    width: 100%;
    height: 20vh;
}
.logo{
    display: flex;
}
.logo img{
    width: 23%;
}
.logo h1{
    margin-top: 10%;
    font-size: 30px;
    margin-left: -6%;
}
.contain{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.nav-links{
    /* background-color: aqua; */
    display: flex;
    width: 30%;
    justify-content: space-around;
    font-size: 20px;
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: #000;
    
}
.btn{
    /* padding: 0px; */
    
    background-color: #eeee0e;
    padding: 6px;
    border-radius: 20px;
    border: none;

}
.first{
    height: 90vh;
    display: flex;
    
}
.wrap{
    display: flex;
    margin-left: 13%;
    margin-top: 12%;
}
.wrap h4{
    color: #43d309;
}

.line{
    background-color: #43d309;
    width: 4%;
    max-height: 2px;
    margin-top: 1.5%;
    margin-right: 2%;
}
.home{
    margin-top: 2%;
    width: 60%;
    padding-left: 50px;
   
}
.text{
    margin-top: 4%;
    margin-left: 13%;
}
.text h1{
    font-size: 60px;
}
.text p{
    margin-top: 2%;
    font-size: 10px;
}
.splash{
    width: 2%;
}
.pic .splash img{
    width: 30vw;
    margin-top: 1200%;
}
.pic .wac img{
    margin-top: -210%;
    width: 90%;
    height: 120vh;
}
.pic .splash2 img{
    width: 68%;
    margin-top: -50%;
    margin-left: -40%;
}
.pic .splash3 img{
    width: 68%;
    margin-top: -60%;
    margin-left: 9%;
}
.bttn{
    margin-top: 4%;
    background-color: #eeee0e;
    padding: 6px;
    border-radius: 20px;
    border: none;

}
.second-sec{
    /* background-color: #eeee0e; */
    width: 100%;
    height: 150vh;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.upper{
    margin-top: 6%;
    margin-bottom: 3%;
}
.upper h1{
    margin-left: 29%;
    font-size: 34px;
    margin-bottom: 3%;
}
.contained{
    display: flex;
    padding-top: 5px;
    margin-top: 0.3%;
    margin-left: 10%;
    margin-right: 10%;
}
.box {
    /* border: 2px solid grey; */
    width: 40%;
    height: 35vh;
    box-shadow: 1px 2px 11px;
    margin: 0.5%;
}
.box img{
    margin-top: 2%;
    margin-left: 26%;
    width: 20%;
}
.box h1{
    margin-left: 26%;
   
}
.box p{
    margin-top: 8%;
    margin-left: 6%;
   
}
.b img{
    width: 30%;
}
.third{
    background-color: #ccf3ba;
    height: 100vh;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.l-footer img{
    width: 56%;
    height: 14vh;
    font-size: 5px;
    margin-top: 5%;
}
.l-footer h1{
    font-size: 21px;
    margin-top: 26%;
    margin-left: -14%;
}
.icon{
    /* background-color: #000; */
    width: 8%;
    display: flex;
    justify-content: space-around;
}

.icon i{
    color: #0e6fee;
    justify-content: space-around;
}