root{
    
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}
.sub-body{
    border: 40px solid #c7f5b5;
    /* height: 400vh; */
}
.header{
    margin-top: 0%;
    width: 100%;
    height: 20vh;
}
.logo{
    display: flex;
}
.logo img{
    width: 23%;
}
.logo h1{
    margin-top: 10%;
    font-size: 30px;
    margin-left: -6%;
}
.contain{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.navs{
    width: 30%;
    font-size: 20px;
}
.nav-links{
    /* background-color: aqua; */
    display: flex;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
 .nav-links li a{
    text-decoration: none;
    color: #000;
    
} 
.span:hover{
    color: #46AB10;
}
.btn{
   background-color: #eeee0e;
    padding: 6px;
    border-radius: 20px;
    border: none;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #eeee0e;

}
.first{
    height: 90vh;
    display: flex;
    
}
.wrap{
    display: flex;
    margin-left: 13%;
    margin-top: 12%;
}
.wrap h4{
    color: #43d309;
}

.line{
    background-color: #43d309;
    width: 4%;
    max-height: 2px;
    margin-top: 1.5%;
    margin-right: 2%;
}
.home{
    margin-top: 2%;
    width: 60%;
    padding-left: 50px;
   
}
.text{
    margin-top: 4%;
    margin-left: 13%;
}
.text h1{
    font-size: 60px;
}
.text p{
    margin-top: 2%;
    font-size: 34px;
}
.splash{
    width: 2%;
}
.pic .splash img{
    width: 30vw;
    margin-top: 1200%;
}
.pic .wac img{
    margin-top: -210%;
    width: 90%;
    height: 120vh;
}
.pic .splash2 img{
    width: 68%;
    margin-top: -50%;
    margin-left: -40%;
}
.pic .splash3 img{
    width: 68%;
    margin-top: -60%;
    margin-left: 9%;
}
.bttn{
    margin-top: 4%;
    background-color: #eeee0e;
    padding: 6px;
    border-radius: 20px;
    border: none; 
}
.bttn:hover{
    background-color: transparent;
    border: 2px solid #eeee0e;


}
.container{
    /* border: 3px solid ; */
    margin-left: 7%;
    margin-right: 13%;
    display: flex;
    justify-content: space-around;
}
.splash-img{
    margin-left: 15%;
    margin-bottom: -20%;
    width: 23%;
    height: 23%;

}
.splash-img1{
    margin-left: -34%;
    margin-bottom: -40%;
    width: 23%;
    height: 23%;

}
.splash-img2{
    margin-left: -2%;
    margin-bottom: -55%;
    width: 23%;
    height: 23%;

}
.splash-img3{
    margin-left: -2%;
    margin-bottom: -55%;
    width: 23%;
    height: 23%;

}
.abt-img{
    margin-left: 30%;
    margin-top: 20%;
    width: 90%;
    height: 76%;
    background-color: #fff;
    border:2px solid #8CCB23;
    border-radius: 50%;
    box-shadow: 5px 5px #EDEE3E, 10px 10px #A2D329, 15px 15px green;
}
.about-text{
    margin-left: 12%;
    margin-top: 12%;

}
.about-text h1{
    font-size: 34px;
    margin-bottom: 19%;

}
.about-text p{
    
    /* background-color: #000; */
    margin-top: 20%;
}
.second-sec{
    /* background-color: #eeee0e; */
    width: 100%;
    height: 150vh;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.upper{
    margin-top: 6%;
    margin-bottom: 3%;
}
.upper h1{
    margin-left: 29%;
    font-size: 34px;
    margin-bottom: 3%;
}
.img-2{
    width: 20%;
    /* margin-top: -200%; */
    margin-left: -34%;
    margin-bottom: 1%;

}
.img-u{
    width: 20%;
    margin-top: -45%;
    margin-left: -67%;
    margin-bottom: -90%;

}

.img-O{
    width: 20%;
    margin-top: -45%;
    margin-left: 147%;
    margin-bottom: -30%;

}
.img-Q{
    width: 20%;
    margin-top: -45%;
    margin-left: 147%;
    margin-bottom: -90%;

}
.img-3{
    width: 50%;
    margin-top: -90%;
    margin-left: -44%;
    margin-bottom: -165%;

}
.img-4{
    width: 30%;
    margin-top: -90%;
    margin-left: 80%;
    margin-bottom: -230%;

}
.img-5{
    width: 30%;
    margin-top: -90%;
    margin-left: -71%;
    margin-bottom: -300%;

}
.img-7{
    width: 30%;
    margin-top: -90%;
    margin-left: 141%;
    margin-bottom: -296%;
}
.img-6{
    width: 30%;
    margin-top: -90%;
    margin-left: 41%;
    margin-bottom: -360%;

}
.all-boxes{
    margin-top: -17%;
}
.contained{
    display: flex;
    padding-top: 5px;
    margin-top: 0.8%;
    margin-left: 10%;
    margin-right: 10%;
}
.cons{
    /* background-color: #0e6fee; */
    margin-left: 25%;

}
.box {
    /* border: 2px solid grey; */
    width: 40%;
    height: 35vh;
    box-shadow: 1px 2px 11px;
    margin: 0.5%;
}
.box img{
    margin-top: 2%;
    margin-left: 26%;
    width: 20%;
}
.box h1{
    margin-left: 26%;
   
}
.box p{
    margin-top: 8%;
    margin-left: 6%;
   
}
.b img{
    width: 30%;
}
.third{
    /* background-color: #ccf3ba; */
    height: 160vh;
}
#project{
    margin-left: 44%;
}
.p{
    margin-left: 30%;

}
.proj{
    margin-left: -1%;
    margin-right: -1%;
    display: flex;
    
}
.group-1{
   width: 26.3vw;
   height: 80%;
   box-shadow: 5px 5px #EDEE3E, 10px 10px #A2D329, 15px 15px green;
   
}

.group { 
	transition: all .2s ease-in-out; 
}
.group:hover { 
    	transform: scale(1.5); 
        
    }

.group-3{
    margin-left: -1%;
    width: 26.3vw;
    height: 80%;
    box-shadow: 5px 5px #EDEE3E, 10px 10px #A2D329, 15px 15px green;

}
     
.middle { 
    transition: all .2s ease-in-out; 
}
.middle:hover { 
        transform: scale(1.5); 
        
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.l-footer img{
    width: 56%;
    height: 14vh;
    font-size: 5px;
    margin-top: 5%;
}
.l-footer h1{
    font-size: 21px;
    margin-top: 26%;
    margin-left: -14%;
}
.icon{
    width: 8%;
    display: flex;
    justify-content: space-around;
}
.fa-twitter, .fa-linkedin{
color: blue;
}
.fa-github{
    color: #000;
    justify-content: space-around;
}
